<header id="top">
    <div class="header-content">
        <div class="inner">
            <div class="margin-top-300">&nbsp;</div>
            <h1 class="cursive">Danielle & Dylan</h1>
            <h2 class='md-display-2'>{{save_the_date}}</h2>
            <h2>{{countdown}}</h2>
            <hr>
            <a href="#photos" class="btn page-scroll text-white"><i class="fa fa-chevron-down fa-3x wow pulse animated visible" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s"></i></a>
            
            <!-- <h3>Coming Soon!</h3> -->
        </div>
    </div>
</header>
<!-- <section id="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <h2 class="margin-top-0 text-primary">Our Story</h2>
                <br>
                <p class="md-title">
                Stay tuned!
                </p>
            </div>
        </div>
    </div>
</section> -->
<section id="photos">
    <div class="container-fluid">
        <md-grid-list
            md-cols-xs="3" md-cols-sm="3" md-cols-md="6" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="12px" md-gutter-gt-sm="8px" >
            <md-grid-tile
                md-rowspan="2" md-colspan="1" md-colspan-sm="1">
              <img src="images/DD_Port1.jpg" ng-click="open($event)" class="img-responsive img-fill" alt="D&D Photoshoot">
            </md-grid-tile>
            <md-grid-tile
                md-rowspan="1" md-colspan="2">
              <img src="images/DD_Land1.jpg" ng-click="open($event)" class="img-responsive img-fill" alt="D&D Photoshoot">
            </md-grid-tile>
            <md-grid-tile
                md-rowspan="1" md-colspan="2">
              <img src="images/DD_Land5.jpg" ng-click="open($event)" class="img-responsive img-fill" alt="D&D Photoshoot">
            </md-grid-tile>
            <md-grid-tile
                md-rowspan="2" md-colspan="1" md-colspan-sm="1">
              <img src="images/DD_Port2.jpg" ng-click="open($event)" class="img-responsive img-fill" alt="D&D Photoshoot">
            </md-grid-tile>
            <md-grid-tile
                md-rowspan="1" md-colspan="2">
              <img src="images/DD_Land4.jpg" ng-click="open($event)" class="img-responsive img-fill" alt="D&D Photoshoot">
            </md-grid-tile>
            <md-grid-tile
                md-rowspan="1" md-colspan="2">
              <img src="images/DD_Land3.jpg" ng-click="open($event)" class="img-responsive img-fill" alt="D&D Photoshoot">
            </md-grid-tile>
        </md-grid-list>
    </div>
</section>
<section class="container-fluid no-top-padding" id="team">
    <div layout="column">
        <div flex>
            <h1 class="text-center text-primary md-display-4" hide-sm hide-xs>The Team</h1>
            <h1 class="text-center text-primary md-display-3" hide-gt-sm>The Team</h1>
        </div>
        <div class="container" layout="row" layout-align="space-around start" flex>
            <md-list ng-repeat="team in teams" flex>
              <md-list-item ng-repeat="member in team.people" layout-align="end center" ng-if="team.type == 'Bridesmaids'">
                <span class="text-right text-muted" layout="column">
                  <h1 class="cursive">{{ member.name }}</h1>
                  <h4>{{ member.title }}</h4>
                </span>
              </md-list-item>
              <md-list-item ng-repeat="member in team.people" layout-align="start center" ng-if="team.type == 'Groomsmen'">
                <span class="text-left text-muted" layout="column">
                  <h1 class="cursive">{{ member.name }}</h1>
                  <h4>{{ member.title }}</h4>
                </span>
              </md-list-item>
            </md-list>
        </div>
    </div>
</section>
<section id="tips" class="bg-dark">
    <div class="container">
        <div layout-gt-sm="row">
            <div class="text-center" flex-gt-sm>
                <h1 class="margin-top-0 text-primary md-display-4" hide-sm hide-xs>Big Day Tips</h1>
                <h1 class="margin-top-0 text-primary md-display-3" hide-gt-sm>Big Day Tips</h1>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div layout-gt-sm="column">
        <div class="text-center wow" flex-gt-sm ng-repeat="tip in tips track by $index" ng-class="{'fadeInLeft': $index === 0, 'fadeInUp': $index === 1, 'fadeInRight': $index === 2}" layout="column">
            <br />
            <br />
            <md-icon class="md-36 text-white" data-wow-delay=".3s">{{tip.icon}}</md-icon>
            <h1 class="uppercase"><b>{{tip.title}}</b></h1>
            <div layout-gt-sm="row">
                <div class="text-muted feature" ng-repeat="item in tip.items" compile="item.details"></div>
            </div>
        </div>
    </div>
</section>
<section id="rsvp">
    <div class="container">
        <div layout="column">
            <div flex class="text-center">
                <h1 class="margin-top-0 text-primary md-display-4 wow fadeIn" hide-sm hide-xs>RSVP</h1>
                <h1 class="margin-top-0 text-primary md-display-3 wow fadeIn" hide-gt-sm>RSVP</h1>
                <hr class="primary">
                <h1 ng-if="!rsvpSent" class='cursive text-muted'>Tell us that you're coming to the big event!</h1>
                <h1 ng-if="rsvpSent" class='cursive text-muted'>Thank you for your RSVP!</h1>
            </div>
            <div flex class="text-center">
                <md-content layout-padding>
	                <div ng-if="!rsvpSent">
	                    <form name="rsvpForm" id="rsvpForm" ng-submit="send(rsvpForm.$valid)" class="contact-form" novalidate>
                            <div layout="column">
                                <md-radio-group ng-model="rsvp.answer" flex>
                                    <div layout-gt-sm="row" layout-align="space-around center">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <md-radio-button value="1" class="md-title md-accent md-hue-1"> I'll See You There!</md-radio-button>
                                            <div class='hint'>just me</div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <md-radio-button value="2" class="md-title md-accent md-hue-1"> We Will See You There!</md-radio-button>
                                            <div class='hint'>me +more</div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <md-radio-button value="0" class="md-title md-accent md-hue-1"> Sad to Miss All of the Fun</md-radio-button>
                                            <div class='hint'>:(</div>
                                        </md-input-container>
                                    </div>
                                </md-radio-group>
                                <div flex layout="column" ng-init="rsvp.number = 1">
                                    <div flex layout="row" ng-if="rsvp.answer == 2">
                                        <div flex></div>
                                        <md-input-container class="md-block" flex>
                                            <label>Number of People</label>
                                            <input type="number" name="numPeople" ng-model="rsvp.number" min="1" required>
                                            <div class="hint text-left">Tell us how many people!</div>
                                        </md-input-container>
                                        <div flex></div>
                                    </div>
        	                        <div flex layout="row" ng-repeat="person in rsvp.people">
        	                            <md-input-container class="md-block" flex>
        		                            <label>Full Name*</label>
        		                            <input name="name" ng-model="person.name" required>
                                            <div class="hint text-left" ng-if="$index == 0">Tell us who you are!</div>
                                            <div class="hint text-left" ng-if="$index > 0">Tell us who they are!</div>
        	                            </md-input-container>
                                        <div flex="5" hide-xs hide-sm>
                                          <!-- Spacer //-->
                                        </div>
        	                            <md-input-container class="md-block" flex>
        		                            <label>Email*</label>
        		                            <input name="email" type="email" ng-model="person.email" required>
                                            <div class="hint text-left" ng-if="$index == 0">Tell us how to reach you!</div>
                                            <div class="hint text-left" ng-if="$index > 0">Tell us how to reach them!</div>
        	                            </md-input-container>
        	                        </div>
                                    <div flex>
                                        <md-input-container class="md-block">
                                            <label>Note <small>(optional)</small></label>
                                            <textarea ng-model="rsvp.note" columns="1" md-maxlength="150" rows="5"></textarea>
                                            <div class="hint text-left">Leave us a little message :)</div>
                                        </md-input-container>
                                    </div>
                                    <div flex>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <md-button type="submit" name="submit" class="md-raised md-accent md-hue-1 text-white">Send <i class="fa fa-arrow-right"></i></md-button>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
	                    </form>
	                </div>
                </md-content>
            </div>
        </div>
    </div>
</section>
<section id="registry" class="bg-dark">
    <div class="container">
        <div layout-gt-sm="row">
            <div class="text-center" flex-gt-sm>
                <h1 class="margin-top-0 text-primary md-display-4" hide-sm hide-xs>Registry</h1>
                <h1 class="margin-top-0 text-primary md-display-3" hide-gt-sm>Registry</h1>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container" class="text-center">
        <p class="md-headline text-center">We've chosen to register with Zola and Bed Bath & Beyond. Please click the logos below!</p>
        <div layout-gt-sm="row">
            <div class="text-center" flex>
                <a href="https://www.zola.com/registry/dintorf" target="_blank"><img class="wow fadeInUp" data-wow-delay=".3s" src="/images/zola.png" width="300"/></a>
            </div>
            <div class="text-center" flex>
                <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=543706624&eventType=Wedding&pwsurl=?mcid=EM_triggeredem_emailregistryplural__allpromos" target="_blank"><img class="wow fadeInUp" data-wow-delay=".3s" src="/images/BBB.png" width="300"/></a>
            </div>
        </div>
    </div>
    <!-- <footer id="footer">
        <div class="container-fluid md-title text-muted">
            <h4>Social Media</h4>
            <div layout-gt-sm="row">
                <div flex-gt-sm style="margin-right:10px">
                    <h4>Instagram</h4>
                    <iframe src="http://snapwidget.com/sc/?u=ZGludG9yZnxpbnwyNTB8M3wzfHxub3w1fG5vbmV8b25TdGFydHx5ZXN8bm8=&ve=010116" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:250px"></iframe>
                </div>
                <div flex-gt-sm style="margin-right:10px" align="center">
                    <h4>Tweets</h4>
                    <a class="twitter-timeline" href="https://twitter.com/hashtag/DDNov52016" data-widget-id="683119156724563969">#DDNov52016 Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                <div flex-gt-sm>
                    <h4>Facebook</h4>
                    <div class="fb-comments" data-href="http://ido.dintorf.com" data-numposts="5" data-colorscheme="dark" data-order-by="reverse_time" data-width="100%"></div>
                </div>
            </div>
            <br/>
        </div>
    </footer> -->
</section>
<script type="text/ng-template" id="imgModal.html">
    <md-dialog aria-label="Gallery"  ng-cloak>
      <form>
        <md-toolbar>
          <div class="md-toolbar-tools text-white">
            <h1>Gallery</h1>
            <span flex></span>
            <md-button class="md-icon-button text-white" ng-click="close()">
              <i class="fa fa-times fa-2x"></i>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content>
          <div class="md-dialog-content">
            <img class="img-responsive" ng-src="{{source}}" />
          </div>
        </md-dialog-content>
      </form>
    </md-dialog>
</script>
<!-- <script type="text/ng-template" id="imgModal.html">
    <div class="modal-header">
        <md-button type="button" class="md-raised md-accent" ng-click="close()">Close</md-button>
    </div>
    <div class="modal-body">
        <img class="img-responsive" ng-src="{{source}}" />
    </div>
</script> -->
