<header id="top">
    <div class="header-content">
        <div class="inner">
            <h1 class="cursive">Dylan & Danielle</h1>
            <h3>To have and to hold</h3>
            <h3>{{save_the_date}}</h3>
            <h3>{{countdown}}</h3>
            <hr>
            <a href="#story" class="btn btn-primary btn-xl page-scroll">Our Story</a>
            <!-- <h3>Coming Soon!</h3> -->
        </div>
    </div>
</header>
<section id="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <h2 class="margin-top-0 text-primary">Our Story</h2>
                <br>
                <p>
                Stay tuned!
                </p>
            </div>
        </div>
    </div>
</section>
<section id="photos" class="no-padding">
    <div class="container-fluid">
        <md-grid-list
            md-cols-xs="3" md-cols-sm="3" md-cols-md="6" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="12px" md-gutter-gt-sm="8px" >
            <md-grid-tile
                md-rowspan="2" md-colspan="1" md-colspan-sm="1">
              <img src="images/DD_Port1.jpg" ng-click="open($event, 'images/DD_Port1.jpg')" class="img-responsive img-fill" alt="D&D Photoshoot">
            </md-grid-tile>
            <md-grid-tile
                md-rowspan="1" md-colspan="2">
              <img src="images/DD_Land1.jpg" ng-click="open($event, 'images/DD_Land1.jpg')" class="img-responsive img-fill" alt="D&D Photoshoot">
            </md-grid-tile>
            <md-grid-tile
                md-rowspan="1" md-colspan="2">
              <img src="images/DD_Land5.jpg" ng-click="open($event, 'images/DD_Land5.jpg')" class="img-responsive img-fill" alt="D&D Photoshoot">
            </md-grid-tile>
            <md-grid-tile
                md-rowspan="2" md-colspan="1" md-colspan-sm="1">
              <img src="images/DD_Port2.jpg" ng-click="open($event, 'images/DD_Port2.jpg')" class="img-responsive img-fill" alt="D&D Photoshoot">
            </md-grid-tile>
            <md-grid-tile
                md-rowspan="1" md-colspan="2">
              <img src="images/DD_Land4.jpg" ng-click="open($event, 'images/DD_Land4.jpg')" class="img-responsive img-fill" alt="D&D Photoshoot">
            </md-grid-tile>
            <md-grid-tile
                md-rowspan="1" md-colspan="2">
              <img src="images/DD_Land3.jpg" ng-click="open($event, 'images/DD_Land3.jpg')" class="img-responsive img-fill" alt="D&D Photoshoot">
            </md-grid-tile>
        </md-grid-list>
    </div>
</section>
<section class="container-fluid" id="team">
    <div layout="column">
        <div flex>
            <h2 class="text-center text-primary">The Team</h2>
            <hr>
        </div>
        <div class="container" layout="row" layout-align="space-around start" flex>
            <md-list ng-repeat="team in teams">
              <h2 class="md-headline text-center text-primary">{{ team.type }}</h2>
              <md-list-item ng-repeat="member in team.people">
                <div class="md-list-item-text" layout="column">
                  <h3 class="md-title">{{ member.name }} | {{ member.title }}</h3>
                  <p>{{ member.details }}</p>
                </div>
              </md-list-item>
            </md-list>
        </div>
    </div>
</section>
<section id="tips" class="bg-dark">
    <div class="container">
        <div layout-gt-sm="row">
            <div class="text-center" flex-gt-sm>
                <h2 class="margin-top-0 text-primary">Big Day Tips</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div layout-gt-sm="row" layout-align="space-around start">
        <div class="text-center wow" flex-gt-sm ng-repeat="tip in tips track by $index" ng-class="{'fadeInLeft': $index === 0, 'fadeInUp': $index === 1, 'fadeInRight': $index === 2}">
            <div class="feature">
                <md-icon class="md-36 text-white" data-wow-delay=".3s">{{tip.icon}}</md-icon>
                <h3 class="md-headline"><b>{{tip.title}}</b></h3>
                <p class="text-muted text-center" ng-bind-html="tip.details"></p>
            </div>
        </div>
    </div>
</section>
<section id="rsvp">
    <div class="container">
        <div layout="column">
            <div flex class="text-center">
                <h2 class="margin-top-0 text-primary wow fadeIn">RSVP</h2>
                <hr class="primary">
                <p>Tell us that you're coming to the big event!</p>
            </div>
            <div flex class="text-center">
                <md-content layout-padding>
	                <div>
	                    <form name="rsvpForm" id="rsvpForm" ng-submit="send(rsvpForm.$isValid)" class="contact-form row" novalidate>
	                        <div layout-gt-sm="row">
	                            <md-input-container class="md-block" flex-gt-sm>
		                            <label>Full Name</label>
		                            <input name="name" ng-model="rsvp.name">
	                            </md-input-container>
	                            <md-input-container class="md-block" flex-gt-sm>
		                            <label>Email</label>
		                            <input name="email" type="email" ng-model="rsvp.email">
	                            </md-input-container>
	                            <md-input-container class="md-block" flex-gt-sm>
		                            <label>Phone</label>
		                            <input name="phone" type="phone" ng-model="rsvp.phone">
	                            </md-input-container>
	                        </div>
	                        <div layout-gt-sm="row" ng-if="rsvp.answer == 2" class="wow fadeIn">
	                            <span class="text-primary" flex-gt-sm>+1 Details</span>
	                        </div>
	                        <div layout-gt-sm="row" ng-if="rsvp.answer == 2" class="wow fadeIn">
	                            <md-input-container class="md-block" flex-gt-sm>
		                            <label>Name</label>
		                            <input name="plus1name" ng-model="rsvp.plus1.name">
	                            </md-input-container>
	                            <md-input-container class="md-block" flex-gt-sm>
		                            <label>Email</label>
		                            <input name="plus1email" type="email" ng-model="rsvp.plus1.email">
	                            </md-input-container>
	                            <md-input-container class="md-block" flex-gt-sm>
		                            <label>Phone</label>
		                            <input name="plus1phone" type="phone" ng-model="rsvp.plus1.phone">
	                            </md-input-container>
	                        </div>
	                        <div layout-gt-sm="row" ng-if="rsvp.answer != 2" class="wow fadeIn">
	                            <span class="text-primary" flex-gt-sm>
	                            	If you have a +1 be sure to select the middle option
	                            	<br />
	                            	<i class="fa fa-arrow-down hidden-xs"></i>
	                            </span>
	                        </div>
	                        <md-radio-group ng-model="rsvp.answer">
		                        <div layout-gt-sm="row">
		                            <md-input-container class="md-block" flex-gt-sm>
		                            	<md-radio-button value="1" class="md-accent md-hue-1"> I Can't Wait! <small class="text-muted">&nbsp;&nbsp;just me</small> </md-radio-button>
		                            </md-input-container>
		                            <md-input-container class="md-block" flex-gt-sm>
		                            	<md-radio-button value="2" class="md-accent md-hue-1"> We Will See You There! <small class="text-muted">&nbsp;&nbsp;me +1</small> </md-radio-button>
		                            </md-input-container>
		                            <md-input-container class="md-block" flex-gt-sm>
		                            	<md-radio-button value="0" class="md-accent md-hue-1"> Sad to Miss All of the Fun <small class="text-muted">&nbsp;&nbsp;:(</small> </md-radio-button>
		                            </md-input-container>
		                        </div>
	                        </md-radio-group>
	                        <div layout-gt-sm="row">
	                            <md-input-container class="md-block" flex-gt-sm>
		                            <label>Note <small>(optional)</small></label>
		                            <textarea ng-model="rsvp.note" columns="1" md-maxlength="150" rows="5"></textarea>
	                            </md-input-container>
	                        </div>
	                        <div layout-gt-sm="row">
	                            <md-input-container class="md-block" flex-gt-sm>
	                            	<md-button type="submit" name="submit" class="md-raised md-primary">Send <i class="fa fa-arrow-right"></i></md-button>
	                            </md-input-container>
	                        </div>
	                    </form>
	                </div>
                </md-content>
            </div>
        </div>
    </div>
</section>
<section id="registry" class="bg-dark">
    <div class="container">
        <div layout-gt-sm="row">
            <div class="text-center" flex-gt-sm>
                <h2 class="margin-top-0 text-primary">Registry</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div layout-gt-sm="row">
            <div class="text-center" flex-gt-sm>
                <div class="feature">
                    <p class="">We've chosen to register with Zola, an easy-to-use registry site that enables us to register for the gifts we want, all in one place. If you'd like to give us a gift on Zola, click the logo below!</p>
                    <div class="help-block"></div>
                    <a href="https://www.zola.com/registry/dintorf" target="_blank"><img class="wow fadeInUp thumbnail" data-wow-delay=".3s" src="/images/zola.png" width="150"/></a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer">
    <div class="container-fluid">
        <h4>Social Media</h4>
        <div layout-gt-sm="row">
            <!-- <div flex-gt-sm style="margin-right:10px">
                <h4>Instagram</h4>
                <iframe src="http://snapwidget.com/sc/?u=ZGludG9yZnxpbnwyNTB8M3wzfHxub3w1fG5vbmV8b25TdGFydHx5ZXN8bm8=&ve=010116" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:250px"></iframe>
            </div>
            <div flex-gt-sm style="margin-right:10px" align="center">
                <h4>Tweets</h4>
                <a class="twitter-timeline" href="https://twitter.com/hashtag/DDNov52016" data-widget-id="683119156724563969">#DDNov52016 Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div> -->
            <div flex-gt-sm>
                <h4>Facebook</h4>
                <div class="fb-comments" data-href="http://ido.dintorf.com" data-numposts="5" data-colorscheme="dark" data-order-by="reverse_time" data-width="100%"></div>
            </div>
        </div>
        <br/>
    </div>
</footer>
<script type="text/ng-template" id="imgModal.html">
    <md-dialog aria-label="Gallery"  ng-cloak>
      <form>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Gallery</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
              <i class="fa fa-times fa-2x"></i>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content>
          <div class="md-dialog-content">
            <img class="img-responsive" ng-src="{{source}}" />
          </div>
        </md-dialog-content>
      </form>
    </md-dialog>
</script>
<!-- <script type="text/ng-template" id="imgModal.html">
    <div class="modal-header">
        <md-button type="button" class="md-raised md-accent" ng-click="close()">Close</md-button>
    </div>
    <div class="modal-body">
        <img class="img-responsive" ng-src="{{source}}" />
    </div>
</script> -->
